*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background:linear-gradient( rgb(206, 203, 203),
rgb(216, 212, 212));
height: 100vh;
}
/*definimos estilo de tablero*/
.con-tablero{
    width: 560px;
    height: 560px;
    margin: 40px auto;
    box-shadow: 0px 0px 6px 8px  rgb(255, 255, 255),
                0px 0px 0px 16px rgb(53, 47, 47);

    box-sizing: content-box;
    cursor: pointer;
}   


.con-tablero .tab-fila{
    display: flex;
}
/*definimos estilo para cada cuadrito*/

.con-tablero .tab-fila .tab-col{
    background-color: rgb(255, 255, 255);
    width: 70px ;
    height: 70px;
    text-align: center;
    user-select: none;
    font-size: 55px;
    color:  rgb(255, 255, 255);
    text-shadow: 0px .5px rgb(255, 255, 255);
}

.con-tablero .tab-fila .black{
    background-color:  rgb(0, 0, 0);

}
.PieDePagina{
background-color: rgb(230, 225, 225);
display: block;
border: 1px solid black;
padding: 20px;
margin-bottom: 30px;
}
.menu{
    color: rgb(230, 225, 225);
background-color: rgb(189, 99, 99) ;
    padding: 15px ;
    text-align: left;
}
.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}
.menu2{
    color: rgb(95, 92, 92);
    background-color: rgb(255, 255, 255) ;
    padding: 10px ;
    border: 1px solid black;
    
}
.menu2 li{
    background-color: rgb( rgb(255, 255, 255));
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
    
}
.Boton{
    color: rgb(255, 255, 255);
    background-color: royalblue;
    text-align: center;
    width: 200px;
    height: 65px;
    font: bold 14px verdana;
}

.p1 {
font-family: Arial;
font-size: 20px;
}
.p2 {
font-family: Arial;
font-size: 20px;
}
.p3 {
font-family: Arial;
font-size: 20px;
}
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }